.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.header-img{
    float: left;
    margin: 10px;
}

.header-txt{
    padding-left: 2px;
    padding-right: 2px;
}

.content{
    margin-top: 80px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bob_in_text{
    margin-left: 3px;
    max-width: 100%;
    min-width: 300px;
}

.bob_out_text{
    max-width: 100%;
    min-width: 300px;
}